<div class="genre-show-container">

    <h3><%= link_to "ALL GENRES / ", genres_path, method: :get %></h3>
    <h3><%= @genre.name.upcase%></h3>

    <div class="dropdown order-dropdown artist-card-order-dropdown">
      <a class="dropdown-toggle" href="#" id="order-dropdown-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <h3>Arrange Artists By</h3>
      </a>
      <span class="dropdown-menu" aria-labelledby="order-dropdown-btn">
        <a class="dropdown-item" href="#" onclick="orderByAlphabetical(event)">Alphabetical</a>
        <a class="dropdown-item" href="#" onclick="orderByRating(event)">Highest Rating</a>
      </span>
    </div>

  <script>
    function orderByRating(e){
      e.preventDefault();
      $('.artist-card-row').html('<%= escape_javascript render partial: 'shared/artist_card', collection: @genre.users.order(average_rating: :desc) %>');
    }
    function orderByAlphabetical(e){
      e.preventDefault();
      $('.artist-card-row').html('<%= escape_javascript render partial: 'shared/artist_card', collection: @genre.users.order(:name) %>');
    }
  </script>

  <div class="cards artist-card-row">
      <%= render partial: 'shared/artist_card', collection: @genre.users.order(:name) %>
  </div>
</div>