<div class="container">
  <div class="page-container">
    <div class="content-container">
      <div class="content-slim">
        <h3>
          <span class="h-largecaps">Resend confirmation instructions</span>
        </h3>
        <div class="settings-form">
          <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
            <div class="form-group">
              <%= f.label :email, class: "h-smallcaps" %><br />
              <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "field-editpage" %>
            </div>

            <div class="submit-btn-resendconfirmationpage">
              <%= f.submit "Resend confirmation instructions", class: "btn btn-primary btn-pill" %>
            </div>
          <% end %>
        </div>
        <div class="devise-links">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>