<div class="container artist_id_container" data-artist_id=<%=@artist.id%>>
	<div class="row">
		<div class="col-sm-3">
			<img src="<%= Faker::LoremPixel.image("200x200") %>" class="rounded">
		</div>
		<div class="col-sm-9">
			<h1><%= @artist.name %></h1>
			<p class="lead">Real Name: <%= @artist.real_name %></p>
			<p class="lead">Location: <%= @artist.location %></p>
			<p class="lead">Genre: <%= @artist.genre.name %></p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<p class="lead"><%= @artist.profile %></p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-2 card">
			<div class="card-block">
				<h5>Twitter Link</h5>
			</div>
		</div>
		<div class="col-sm-2 card">
			<div class="card-block">
				<h5>Soundcloud Link</h5>
			</div>
		</div>
		<div class="col-sm-2 card">
			<div class="card-block">
				<h5>Facebook Link</h5>
			</div>
		</div>
		<div class="col-sm-2 card">
			<div class="card-block">
				<h5>Spotify Link</h5>
			</div>
		</div>
	</div>

  <div class="row">
    <div class="col-4">
      <% if user_signed_in? && !Subscription.exists?({user_id: current_user.id, artist_id: @artist.id}) %>
      <div>
        <%= link_to("Subscribe", "/subscriptions/#{@artist.id}", method: "post", class: "btn btn-primary") %>
      </div>
      <% end %>

      <% if user_signed_in? && Subscription.exists?({user_id: current_user.id, artist_id: @artist.id}) %>
      <div>
        <%= link_to("Unsubscribe", "/subscriptions/#{@artist.id}", method: "delete", class: "btn btn-primary") %>
      </div>
      <% end %>
    </div>

    <div class="col-4">
      <p>Followers</p>
      <%= link_to("#{@artist.users.size}", "/artists/#{@artist.id}/subscriptions", method: "get", class: "lead") %>
    </div>
  </div>

  <div class="row">
  <% if user_signed_in? %>
    <div class="col-4">
      <div id="leave_rating">
        <span>&starf;</span>
        <span>&starf;</span>
        <span>&starf;</span>
        <span>&starf;</span>
        <span>&starf;</span>
      </div>
    </div>
    <div class="col-4">
      <%= form_for([@artist, @review]) do |f| %>
        <p>
          <%= f.label :comment %><br>
          <%= f.text_area :comment, :value=>@review.nil? ? "" : @review.comment %>
        </p>
        <%= f.hidden_field :rating, :id=>"rating_field", :value=>@review.nil? ? 6 : @review.rating%>
        <%= f.submit @review.rating == -1 ? "Leave Review" : "Update Review" %>
      <% end %>
    </div>
  <% end %>
  </div>

  <%= render partial: 'shared/reviews_list',  locals: {reviews: @reviews} %>


</div>