<div class="container artist_id_container" id="artist_id_container" data-artist_id=<%=@artist.id%>>
	<div class="row">
		<div class="col-sm-3">
			<img src="<%= Faker::LoremPixel.image("200x200") %>" class="rounded">
		</div>
		<div class="col-sm-9">
			<h1><%= @artist.name %></h1>
			<p class="lead">Real Name: <%= @artist.real_name %></p>
			<p class="lead">Location: <%= @artist.location %></p>
			<p class="lead">Genre: <%= @artist.genre.name %></p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<p class="lead"><%= @artist.profile %></p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-2 card">
			<div class="card-block">
				<h5>Twitter Link</h5>
			</div>
		</div>
		<div class="col-sm-2 card">
			<div class="card-block">
				<h5>Soundcloud Link</h5>
			</div>
		</div>
		<div class="col-sm-2 card">
			<div class="card-block">
				<h5>Facebook Link</h5>
			</div>
		</div>
		<div class="col-sm-2 card">
			<div class="card-block">
				<h5>Spotify Link</h5>
			</div>
		</div>
	</div>

  <div class="row">
    <div class="col-4">
      <% if user_signed_in? && !Subscription.exists?({user_id: current_user.id, artist_id: @artist.id}) %>
      <div>
        <%= link_to("Subscribe", "/subscriptions/#{@artist.id}", method: "post", class: "btn btn-primary") %>
      </div>
      <% end %>

      <% if user_signed_in? && Subscription.exists?({user_id: current_user.id, artist_id: @artist.id}) %>
      <div>
        <%= link_to("Unsubscribe", "/subscriptions/#{@artist.id}", method: "delete", class: "btn btn-primary") %>
      </div>
      <% end %>
    </div>

    <div class="col-4">
      <p>Followers</p>
      <%= link_to("#{@artist.users.size}", "/artists/#{@artist.id}/subscriptions", method: "get", class: "lead") %>
    </div>
  </div>

  <% if user_signed_in? && @review.artist_id.nil? %>
    <button onclick="loadReviewForm()" id="review_load_button" class="btn btn-danger" style="display: none">Edit Review</button>
    <div class="row" id="review_form">
  <% else %>
    <button onclick="loadReviewForm()" id="review_load_button" class="btn btn-danger">Edit Review</button>
    <div class="row" id="review_form" style="display: none">
  <% end %>
      <%= render partial: 'reviews/review_form', locals: {artist: @artist, review: @review} %>
    </div>

  <div class="row">
    <%= link_to("Reviews", "/artists/#{@artist.id}/reviews/hide_responses", method: "get", class: "btn btn-danger", id: "reviews_button", remote: true) %>
    <%= link_to("Discussion", "/artists/#{@artist.id}/reviews/show_responses", method: "get", class: "btn btn-danger", id: "discussion_button", remote: true) %>
  </div>

  <div class="row reviews_container" id="reviews_container">
    <%= render partial: 'reviews/review', collection: @reviews, locals: {responses_shown: false}%>
  </div>
  <div class="row" id="paginator">
    <%= paginate @reviews, remote: true %>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="dropdown">
        <button onclick="toggleDropdown()" class="dropbtn">Arrange Reviews By</button>
        <div id="reviews_dropdown" class="dropdown-content">
          <a href="#" onclick="orderReviewsByAge(event)">Most Recent</a>
          <a href="#" onclick="orderReviewsByUpvotes(event)">Most Upvoted</a>
        </div>
      </div>
    </div>
  </div>
</div>