<li>
  <div class="media notification-container">
    <div class="media-left">
      <div class="media-object">
        <%= image_tag(notification.generating_user_picture, size: "30x30", :alt => "Avatar", class: "notification-pic rounded-circle img-circle") if notification.generating_user_picture %>
        <%= image_tag("blank_user.png", size: "30x30" , :alt => "User Image", class: "notification-pic rounded-circle img-circle") if !notification.generating_user_picture %> 
      </div>
    </div>
    <div class="media-body notification-text-container">
        <% case notification.notification_type %>
          <% when 'follow' %>
            <p class="notification-text">
              <%= link_to(notification.generating_user_name,  user_path(notification.generating_user_id), method: :get) %>
              just followed your profile
          <% when 'review' %>
            <p class="notification-text">
              <%= link_to(notification.generating_user_name,  user_path(notification.generating_user_id), method: :get) %>
              just reviewed your profile
          <% when 'response' %>
            <p class="notification-text">
              <%= link_to(notification.generating_user_name,  user_path(notification.generating_user_id), method: :get) %>
              just left a comment on your profile
          <% else %>
        <% end %><br/>
              <abbr class="timeago notification-text-time" title="<%= notification.created_at.getutc.iso8601 %>">
                <%= notification.created_at.to_s %>
              </abbr>
            </p>
    </div>
  </div>
</li>