<li>
  <div class="media">
    <div class="media-left">
      <div class="media-object">
        <img src="<%= Faker::LoremPixel.image("50x50") %>" class="rounded">
      </div>
    </div>
    <div class="media-body">
      <strong>
        <% case notification.notification_type %>
          <% when 'follow' %>
            <%= link_to(notification.generating_user_name,  user_path(notification.generating_user_id), method: :get) %>
            just followed your profile
          <% when 'review' %>
            <%= link_to(notification.generating_user_name,  user_path(notification.generating_user_id), method: :get) %>
            just reviewed your profile
          <% when 'response' %>
            <%= link_to(notification.generating_user_name,  user_path(notification.generating_user_id), method: :get) %>
            just left a comment on your profile
          <% else %>
        <% end %>
      </strong>
      <div>
        <abbr class="timeago" title="<%= notification.created_at.getutc.iso8601 %>">
          <small><%= notification.created_at.to_s %></small>
        </abbr>
      </div>
    </div>
  </div>
</li>