<li>
  <div class="media notification-container <%= 'unread-notification' if notification.viewed == false %> ">
    <div class="media-left">
      <div class="media-object">
        <% unless User.find(notification.generating_user_id).picture.blank? %>
          <%= image_tag(User.find(notification.generating_user_id).picture, class: "notification-pic rounded-circle img-circle") %>
        <% else %>
          <%= image_tag('http://res.cloudinary.com/mybandsource/image/upload/c_fill/v1/static/blank_user.png', size: "30x30" , :alt => "doesnt have image", class: "notification-pic rounded-circle img-circle") %> 
        <% end %>
      </div>
    </div>
    <div class="media-body notification-text-container">
        <% case notification.notification_type %>
          <% when 'follow' %>
            <p class="notification-text">
              <%= link_to(notification.generating_user_name,  user_path(notification.generating_user_id), method: :get) %> followed your profile
          <% when 'review' %>
            <p class="notification-text">
              <%= link_to(notification.generating_user_name,  user_path(notification.generating_user_id), method: :get) %> reviewed your profile
          <% when 'response' %>
            <p class="notification-text">
              <%= link_to(notification.generating_user_name,  user_path(notification.generating_user_id), method: :get) %> responded to your comment
          <% else %>
        <% end %>
            </p>
            <abbr class="timeago">
              <%= time_ago_in_words(notification.created_at.getutc.iso8601) %> ago
            </abbr>
    </div>
  </div>
</li>