<div class="modal hide fade" id="following_modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="border: none">
        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body follow-body">
        <h3 class="follow-title">Following</h3>

        <% followings.each do |following| %>
            <div class="row follow-row">
              <div class="col-1">
                <% if following.is_artist %>
                    <%= cl_image_tag(following.picture, :width => 50, :height => 50, :crop => :fill, :alt => "Avatar", class: "follow-pic") if following.picture? %>
                    <%= cl_image_tag("static/blank_user.png", :width => 50, :height => 50, :crop => :fill, :alt => "User Image", class: "follow-pic") unless following.picture? %> 
                <% else %>
                    <%= cl_image_tag(following.picture, :width => 50, :height => 50, :crop => :fill, :alt => "Avatar", class: "follow-pic rounded-circle img-circle") if following.picture? %>
                    <%= cl_image_tag("static/blank_user.png", :width => 50, :height => 50, :crop => :fill, :alt => "User Image", class: "follow-pic rounded-circle img-circle") unless following.picture? %> 
                <% end %>
              </div>
              <div class="col-8">
                <h5><%= link_to following.name, "/users/#{following.id}", method: "get", class: "follow-name" %></h5>
              </div>
              <div class="col-3">
                <% if current_user %>
                  <% if current_user.following.exists?(following.id) && current_user.id != following.id %>
                    <%= link_to "Unfollow", "/userrelationship/#{following.id}", method: :delete, remote: true, id: "unfollow-btn"+following.id.to_s, class: "btn btn-outline-secondary btn-pill unfollower-btn" %>
                    <%= link_to "Follow", "/userrelationship/#{following.id}", method: :post, remote: true, id: "follow-btn"+following.id.to_s, class: "btn btn-danger button-home btn-pill follower-btn", style: "display: none" %>
                  <% elsif current_user.id != following.id %>
                    <%= link_to "Follow", "/userrelationship/#{following.id}", method: :post, remote: true, id: "follow-btn"+following.id.to_s, class: "btn btn-danger button-home btn-pill follower-btn" %>
                    <%= link_to "Unfollow", "/userrelationship/#{following.id}", method: :delete, remote: true, id: "unfollow-btn"+following.id.to_s, class: "btn btn-outline-secondary btn-pill unfollower-btn", style: "display: none" %>
                  <% end %>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>