<div class="modal hide fade" id="follower_modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="border: none">
        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body follow-body">
        <h3 class="follow-title">Followers</h3>

        <% followers.each do |follower| %>
          <div class="row follow-row">
            <div class="follow-row-content">
              <%= image_tag(follower.picture, size: "50x50", :alt => "Avatar", class: "follow-pic rounded-circle img-circle") unless follower.picture == "" %>
              <%= image_tag("blank_user.png", size: "50x50" , :alt => "User Image", class: "follow-pic rounded-circle img-circle") if follower.picture == "" %> 
              <h5><%= link_to follower.name, "/users/#{follower.id}", method: "get", class: "follow-name" %></h5>
              <% if current_user.following.exists?(follower.id) && current_user.id != follower.id %>
                <%= button_to "Unfollow", "/userrelationship/#{follower.id}", method: :delete, remote: true, id: "unfollow-btn#{follower.id}", class: "btn btn-outline-secondary btn-pill unfollower-btn" %>
                <%= button_to "Follow", "/userrelationship/#{follower.id}", method: :post, remote: true, id: "follow-btn#{follower.id}", class: "btn btn-danger button-home btn-pill follower-btn", style: "display: none" %>
              <% elsif current_user.id != follower.id %>
                <%= button_to "Follow", "/userrelationship/#{follower.id}", method: :post, remote: true, id: "follow-btn#{follower.id}", class: "btn btn-danger button-home btn-pill follower-btn" %>
                <%= button_to "Unfollow", "/userrelationship/#{follower.id}", method: :delete, remote: true, id: "unfollow-btn#{follower.id}", class: "btn btn-outline-secondary btn-pill unfollower-btn", style: "display: none" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>