<%= cloudinary_js_config %>

<div class="" id="user_id_container" data-artist_name= "<%= @user.name %>"  data-user_picture_url="<%= @user.picture%>" data-user_id=<%=@user.id%> data-current_user=<%=current_user.picture if current_user %> >
  <div class="dark-overlay">
  </div>
  <% if @user.banner_picture? %>
  <div class="profile-banner" style="background-size: cover; background-image: url(<%= Cloudinary::Utils.cloudinary_url(@user.banner_picture.path, width: 1381, height: 457, crop: :fill) %>)">
  <% else %>
  <div class="profile-banner" style="background-size: cover; background-image: url(<%= Cloudinary::Utils.cloudinary_url("static/default_banner_image", width: 1381, height: 457, crop: :fill) %>">
  <% end %>

    <% if @user == current_user %>
      <div class="header-picture-overlay">
        <label class="change-header-pic-text" id="change-banner-picture-label">
          <%= cl_image_tag("static/camera_icon", width: 48, height: 37, class: "camera-icon") %><br/>
          Change your Header Photo
          <%= form_for @user, url: "/users/#{@user.id}/banner_picture", method: :patch do |f| %>
              <%= f.file_field(:banner_picture, as: :attachinary, onchange: "javascript:this.form.submit();", id: "banner-upload-input", style: "display: none") %>
          <% end %>
        </label>
      </div>
    <% end %>

    <div class="profile-banner-content">
      <div class="profile-banner-avatar" id="profile-picture">
        <% if @user == current_user %>
          <div class="profile-picture-overlay">
              <%= form_for @user, url: "/users/#{@user.id}/profile_picture", method: :patch do |f| %>
                <label class="change-profile-pic-text" id="change-profile-picture-label">
                  <%= cl_image_tag("static/camera_icon", width: 48, height: 37, class: "camera-icon") %><br/>
                  Change your Profile Picture
                </label>
                  <%= f.file_field(:picture, as: :attachinary, onchange: "javascript:this.form.submit();", id: "avatar-upload-input", style: "display: none") %>
              <% end %>
          </div>
        <% end %>
        <div class="artist-img-holder <%= 'user-circle' unless @user.is_artist %>" style="background: url('<%=@user.picture.blank? ? 'https://res.cloudinary.com/mybandsource/image/upload/v1/static/blank_user' : "https://res.cloudinary.com/mybandsource/image/upload/#{@user.picture.path}" %>');-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;background-position: center center;background-color:grey;">
        </div>
      </div>

      <div class="profile-banner-info">
        <h1><%= @user.name %></h1>
        <% if @user.is_artist %>
            <% if @user.genre.present? %>
              <h2><%= @user.genre.name %></h2>
            <% else %>
                <h2></h2>
            <% end %>
      <% else %>
          <h2><%= @user.location %></h2>
        <% end %>

        <% if @user.is_artist %>
          <div class="profile-numbers">
            <span id="" data-toggle="tooltip" title="Views">
              <%= cl_image_tag('static/view_count_eye', :alt => "eye", :class => "icon-image") %>
              <p id=""><%= number_to_human @user.view_count %></p>
            </span>

             <span class="not-left" id="avg-rating" data-toggle="tooltip" title="Rating">
                <%= cl_image_tag('static/white_star', :alt => "star", :class => "icon-image") %>
                <p id="avg-rating-number"><%= @user.average_rating.round(1) unless @user.average_rating.nil?%></p>
             </span>

            <span class="not-left" id="review-count" data-toggle="tooltip" title="Reviews">
              <%= material_icon.message.md_18 %>
              <p id="review-count-number"><%= number_to_human @user.review_count%></p>
            </span>

            <span class="not-left" id="response-count" data-toggle="tooltip" title="Responses">
              <%= cl_image_tag('static/response_icon', :alt => "response", :class => "icon-image") %>
              <p id="response-count-number"><%= number_to_human @user.response_count %></p>
            </span>
          </div>
        <% end %>

        <div class="profile-banner-buttons-container">
          <% if user_signed_in? && current_user != @user && !current_user.following?(@user) %>
             <%= link_to("Follow", "/userrelationship/#{@user.id}", method: "post", class: "btn btn-danger follow-button ") %>
          <% end %>
          <% if user_signed_in? && current_user != @user && current_user.following?(@user) %>
             <%= link_to("Unfollow", "/userrelationship/#{@user.id}", method: "delete", class: "btn btn-danger follow-button") %>
          <% end %>

          <div class="share-link-container">
            <%= cl_image_tag("static/share_icon_profile", :width => 9, :height => 11 , :alt => "Share Icon", class: "") %>
            <%= link_to "Share", "#profile_share_modal", "data-toggle": "modal", class: "share-link" %>
          </div>
        </div>
      </div>

      <div class="follow-container">
        <div class="follow_count">
          <p class="followers_text right_align" style="font-weight:100;">FOLLOWERS</p>
          <div> <%= link_to "#{@user.followers.count}", "#follower_modal", "data-toggle": "modal", class: "follow-number" %> </div>
          <div class="following">
            <p class="followers_text right_align" style="font-weight:100;">FOLLOWING</p>
            <div> <%= link_to "#{@user.following.count}", "#following_modal", "data-toggle": "modal", class: "follow-number" %> </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="profile-content">
    <div class="profile-content-column">
      <div class="profile-section">
        <h1>ABOUT</h1>
        <% if @user.bio.present? %>
          <% if @user.bio.length > 200 %>
            <p id="bio-text"><%= truncate(@user.bio, length: 200) %></p>
            <%= link_to 'Read more', '', class: "read-more-link" %>
            <%= link_to 'Read less', '', class: "read-less-link", style: "display: none" %>
            <script>
              $('.read-more-link').on('click', function(e){
                e.preventDefault();
                $('#bio-text').html('<%= escape_javascript @user.bio %>');
                $(this).hide();
                $('.read-less-link').show();
              });
              $('.read-less-link').on('click', function(e){
                e.preventDefault();
                $(this).hide();
                $('.read-more-link').show();
                $('#bio-text').html('<%= escape_javascript truncate(@user.bio, length: 200) %>');
              });
            </script>
          <% else %>
            <p><%= @user.bio %></p>
          <% end %>
        <% end %>
      </div>

      <div class="review-mode-toggle">
        <%= link_to("REVIEWS", "/users/#{@user.id}/reviews/hide_responses", method: "get", class: "review-toggle active", id: "reviews_button", remote: true) %>
        <%= link_to("DISCUSSIONS", "/users/#{@user.id}/reviews/show_responses", method: "get", class: "discussion-toggle", id: "discussion_button", remote: true) %>
      </div>

      <% if @user.is_artist && !user_signed_in? %>
        <div class="signup-container">
          <p class="bold" style="font-weight:500;">Join the conversation</p>
          <p style="color:grey;font-weight:100;">Create an account to rate, review, and discuss artists.</p>
          <button onclick="openSignupModal()">Sign Up</button>
        </div>
      <% end %>
      <div class="review-container">
        <% if user_signed_in? && @user.is_artist && @review.receiving_user_id.nil? %>
            <button onclick="loadReviewForm()" id="review_load_button" class="btn btn-danger mx-auto edit-btn" style="display: none">Edit Review</button>
            <div id="review_form" class="review-form mx-auto">
              <%= render partial: 'reviews/review_form_1', locals: {review: @review} %>
              <%= render partial: 'reviews/review_form_2', locals: {review: @review} %>
            </div>
        <% elsif user_signed_in? && @user.is_artist %>
            <button onclick="loadReviewForm()" id="review_load_button" class="btn btn-danger edit-btn">Edit My Review</button>
            <div id="review_form" class="review-form mx-auto" style="display: none">
              <%= render partial: 'reviews/review_form_1', locals: {review: @review} %>
              <%= render partial: 'reviews/review_form_2', locals: {review: @review} %>
            </div>
        <% end %>
        <div id="review-filter" class="dropdown order-dropdown">
          <a class="dropdown-toggle" href="#" id="order-dropdown-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter Reviews By
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="order-dropdown-btn">
            <a class="dropdown-item" href="#" onclick="orderReviewsByAge(event)">Most Recent</a>
            <a class="dropdown-item" href="#" onclick="orderReviewsByUpvotes(event)">Most Upvoted</a>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="review-list" id="reviews_container">
          <% if defined? top_review %>
              <% if defined? response_link %>
                  <%= render partial: 'reviews/review', locals: {review: top_review, responses_shown: true, is_artist: @user.is_artist} %>
              <% else %>
                  <%= render partial: 'reviews/review', locals: {review: top_review, responses_shown: false, is_artist: @user.is_artist} %>
              <% end %>
          <% end %>
          <%= render partial: 'reviews/review', collection: @reviews, locals: {responses_shown: false, is_artist: @user.is_artist}%>
        </div>

        <div class="row" id="paginator">
          <%= paginate @reviews, remote: true %>
        </div>
      </div>
    </div>


    <div class="profile-sidebar">
      <% if @user.is_artist %>
        <% if @user.label? %>
          <div class="profile-sidebar-group">
            <h3>Label</h3>
            <h4><%= @user.label %></h4>
          </div>
        <% end %>
        <div class="profile-sidebar-group">
          <h3>Location</h3>
          <h4><%= @user.location %></h4>
        </div>
      <% else %>
        <div class="profile-sidebar-group">
          <h3>Favorite Genres</h3>
          <% if @user.genres_list? %>
            <% @user.genres_list.each do |genre| %>
                <h4><%= genre %></h4>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <div class="profile-sidebar-group">
        <% if @user.is_artist? %>
          <h3>Social Profiles</h3>
          <div class="profile-social-media-icons-container">
            <% if @user.twitter_url? %>
                <%= link_to cl_image_tag('static/twitter_icon_profile', alt: "Twitter"), url_with_protocol(@user.twitter_url), target: "_blank", class: "profile-social-icon" %>
            <% end %>
            <% if @user.facebook_url? %>
                <%= link_to cl_image_tag('static/facebook_icon_profile', alt: "Facebook"), url_with_protocol(@user.facebook_url), target: "_blank", class: "profile-social-icon" %>
            <% end %>
          </div>
        <% end %>
      </div>

      <% if @user.is_artist %>
        <div class="profile-sidebar-group">
          <div class="claim-artist-container">
            <div>Is this you?</div>
            <a href="#claim_artist_modal_1" data-toggle="modal" class="claim-artist-link">Claim Artist Profile</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: "follower_modal", locals: {followers: @user.followers} %>
<%= render partial: "following_modal", locals: {followings: @user.following} %>
<%= render partial: "profile_share_modal", locals: {link: root_url[0...-1] + user_path(@user) } %>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
    $('textarea').bind('keypress', function(e) {
      if ((e.keyCode || e.which) == 13) {
        $(this).parents('form').submit();
        return false;
      }
    });
});
</script>