<div class="artist-card">
  <%= link_to cl_image_tag(artist.picture), user_path(artist), method: :get if artist.picture? %>
  <%= link_to cl_image_tag("static/blank_user"), user_path(artist), method: :get unless artist.picture? %>

  <div>
    <h5><%= artist.name %></h5>
    <h6><%= artist.genre.name %></h6>
  </div>

  <span>
    &#9733
    <%= artist.get_rating %>
  </span>
  <span class="span-2">
    <%= material_icon.message.md_18 %>
    <%= number_to_human artist.received_reviews.count%>
  </span>
</div>