<%- unless current_page?('/') %>
  <div class='col-xs-12 col-md-4'>
<% end %>
<div class="artist-card">
  <%= link_to artist_card do %>
  <div class="artist-image-area" style="background: url('<%=artist_card.picture.blank? ? 'https://res.cloudinary.com/mybandsource/image/upload/v1/static/blank_user' : artist_card.picture %>');-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
  </div>
  <% end %>

  <div class="name-container">
    <h5><%= artist_card.name.length > 25 ? truncate(artist_card.name, length: 25) : artist_card.name %></h5>
    <h6><%= artist_card.genre.nil? ? "..." : artist_card.genre.name %></h6>
  </div>

  <div class="numbers-container">
    <span  class="number">
      <%= cl_image_tag('static/view_count_eye', :alt => "eye", :width => 15, :height => 8, :class => "icon-image", style: "bottom: 1px;") %>
      <%= number_to_human artist_card.view_count %>
    </span>

    <span class="number">
      <%= cl_image_tag('static/white_star', :alt => "star", :width => 14, :height => 14, :class => "icon-image") %>
      <span class="number-bump"><%= artist_card.average_rating ? artist_card.average_rating.round(2) : 0.0 %></span>
    </span>

    <span class="number">
      <%= material_icon.message.md_18 %>
      <span class="number-bump"><%= number_to_human artist_card.review_count%></span>
    </span>

    <span class="number">
      <%= cl_image_tag('static/response_icon', :alt => "response", :width => 14, :height => 14, :class => "icon-image") %>
      <span class="number-bump"><%= number_to_human artist_card.response_count %></span>
    </span>
  </div>
</div>
<%- unless current_page?('/') %>
  </div>
<% end %>