<div class="artist-card">
  <%= cl_image_tag(artist.picture) if artist.picture? %>
  <%= cl_image_tag("static/blank_user") unless artist.picture? %>

  <div>
    <h5><%= artist.name %></h5>
    <h6><%= artist.genre.name %></h6>
  </div>

  <span>
    &#9733
    <%= artist.get_rating %>
  </span>
  <span class="span-2">
    <%= material_icon.message.md_18 %>
    <%= number_to_human artist.received_reviews.count%>
  </span>
</div>