<div class="artist-card">
  <%= link_to cl_image_tag(artist_card.picture), user_path(artist_card), method: :get if artist_card.picture? %>
  <%= link_to cl_image_tag("static/blank_user"), user_path(artist_card), method: :get unless artist_card.picture? %>

  <div>
    <h5><%= artist_card.name %></h5>
    <% if !artist_card.genre.nil? %>
      <h6><%= artist_card.genre.name %></h6>
    <% end %>
  </div>

  <span>
    &#9733
    <%= artist_card.average_rating.round(2) %>
  </span>

  <span class="span-2">
    <%= material_icon.message.md_18 %>
    <%= number_to_human artist_card.received_reviews.count%>
  </span>
</div>