<div class="container">
  <div class="row m-1">
    <div>
      <%# @user.image %>
      <%= @review.user.name %>
      <img src="<%= Faker::LoremPixel.image("25x25", true, 'people') %>" class="rounded">
    </div>
    <div>
      <div class="ratings_list" data-rating=<%=@review.rating%>>
        <span>&starf;</span>
        <span>&starf;</span>
        <span>&starf;</span>
        <span>&starf;</span>
        <span>&starf;</span>
      </div>
      <%= @review.created_at %>

    </div>
    <div>
      <%= @review.comment %>
    </div>
  </div>
</div>