<div class="container-fluid">

	<div class="jumbotron jumbotron-main">
		<div class="row justify-content-center">
			<h3 class="display-4 text-center">Reinventing Music Conversation</h3>
		</div>

		<!-- Search block -->
		<div class="row justify-content-center p-4">
			<div class="col-8 text-center">
          <%= react_component "ArtistSearchContainerComponent", {searchPath: search_artists_path, submitPath: submit_search_path} %>
			</div>
		</div>
	</div>
	
	<hr>

	<div class="container-fluid">

		<div class="section-title-block text-center">
			<h3>Featured Artists</h3>
			<p>Discover and explore conversations around artists.</p>
		</div>

		<div class="card-columns">
			<% @artists.each do |artist| %>
					<div class="card artist-card">
						<%= image_tag("artist1.png", class: "card-img-top img-fluid") %>
						<div class="card-block">
							<h4><%= artist.name %></h4>
							<h5><%= artist.genre.name %></h5>
						</div>
					</div>
			<% end %>
		</div>
	</div>

	
	<!-- Browser Section -->
	<div class="container-fluid">

		<div class="section-title-block text-center">
			<h3>Popular Genres</h3>
			<p>Explore artists by genre.</p>
		</div>

		<div class="card-columns">
			<% @genres.each do |genre| %>

				<div class="card text-center genre-card">
					<div class="card-block">
						<h4 class="card-title"><%= genre.name %></h4>
						<p class="card-text"><%= genre.description %></p>
					</div>
				</div>
			<% end %>

		</div>

		<div class="text-center">
			<button class="btn btn-danger button-home">View all genres</button>
		</div>
	</div>

	<div class="container-fluid">
		<div class="container text-center section-title-block">
			<h1>Join the Conversation</h1>
			<p class="lead">Rate, Review, and Discuss.</p>
			<button class="btn btn-danger button-home">Sign up</button>
		</div>
	</div>

	<hr>

	<div>
		<p>Copyright mybandsource LLC</p>
		<p>About Terms Privacy etc</p>
	</div>
</div>
