<div class="mx-auto-no-mas">

	<div class="jumbotron-main">
		<div class="home-title-container my-auto mx-auto">
			<h3 class="display-4 text-center">Reinventing Music Conversation</h3>
			<h4 class="text-center">Rate, Review & Discuss Artists</h4>
			<%= react_component 'ArtistSearchContainerComponent', {searchPath: search_artists_path, submitPath: submit_search_path, navbar: false}, class: 'homepage-search-container' %>
		</div>
	</div>

	<!-- Artist Cards -->
	<div class="artist-homepage-block">
		<div class="section-title-block text-center homepage-section-text">
			<h3>FEATURED ARTISTS</h3>
			<p>Discover & explore conversations around artists.</p>
		</div>

    <div class="">
    	<%= render partial: 'artist_carousel', locals: {artists: @artists} %>
    </div>
	</div>

	
	<!-- Genre Cards -->
	<div class="genre-homepage-block">

		<div class="section-title-block text-center homepage-section-text">
			<h3>POPULAR GENRES</h3>
			<p>Explore artists by genre.</p>
		</div>

		<div class="genre-card-row row">
			<% @genres.each do |genre| %>
        <%= render partial: 'genres/genre_card', locals: {genre: genre, class_name: 'genre-card-homepage'} %>
			<% end %>
		</div>

		<div class="text-center">
			<%= link_to 'View All Genres', genres_path, class: 'view-all-genres-link' %>
		</div>
	</div>
	<% unless current_user%>
		<div class="bottom-homepage-block">
			<div class="text-center section-title-block">
				<h1>Join the conversation.</h1>
				<p class="lead">Rate, Review & Discuss Artists</p>
				<a href="#signup_modal" data-toggle="modal" class="btn btn-danger red-btn">Sign Up</a>
			</div>
		</div>
	<% end %>
</div>
<%=render "shared/help_modal"%>
<script type="text/javascript">
    $(window).on('load',function(){
        $('#help_modal').modal('show');
    });
</script>