<div class="row response_content">
  <div class="col-3">

  </div>

  <div class="col-6">
    <%# @user.image %>
    <img src="<%= Faker::LoremPixel.image("50x50", true, 'people') %>" class="rounded rounded-circle float-left">

    <div class="row">
      <div class="col-12">
        <h4 class="review_username">
          <strong>
            <%= link_to(response.user.name, user_path(response.user)) %>
          </strong>
        </h4>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <%= response.comment %>
      </div>
    </div>

    <% if is_artist %>
      <%= render partial: 'responses/response_info_bar', locals: {review: review, user_id: review.receiving_user_id, response: response} %>
    <% else %>
      <%= render partial: 'responses/response_info_bar', locals: {review: review, user_id: review.leaving_user_id, response: response} %>
    <% end %>
  </div>
</div>