<%= render partial: 'shared/share_page', locals: {review: review} %>

<div class="row response_content">
  <div class="col-3">

  </div>
    <div class="col-6">
    <%# @user.image %>
    <img src="<%= Faker::LoremPixel.image("50x50", true, 'people') %>" class="rounded rounded-circle float-left">

    <div class="row">
      <div class="col-12">
        <h4 class="review_username">
          <strong>
            <%= link_to(response.user.name, user_path(response.user)) %>
          </strong>
        </h4>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <%= response.comment %>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <%= response.upvotes %>
        <% if user_signed_in? %>
            <% if response.upvotes_userlist.nil? || !current_user.id.to_s.in?(response.upvotes_userlist) %>
                <%= link_to(cl_image_tag('static/rockon_icon.png', alt: 'Rockon Icon', width: 20, height: 20, crop: :fill, class: "review_icon"), "/artists/#{review.artist.id}/reviews/#{review.id}/responses/#{response.id}/upvote?user_profile=#{user_profile}", method: :post, remote: true) %>
            <% elsif !response.upvotes_userlist.nil? %>
                <%= link_to(cl_image_tag('static/rockon_icon.png', alt: 'Rockon Icon', width: 20, height: 20, crop: :fill, class: "review_icon rockon_icon_flipped"), "/artists/#{review.artist.id}/reviews/#{review.id}/responses/#{response.id}/remove_upvote?user_profile=#{user_profile}", method: :delete, remote: true) unless response.upvotes_userlist.nil? %>
            <% end %>
            <%= link_to(cl_image_tag('static/trashcan_icon.png', alt: "Trashcan Icon", width: 20, height: 20, crop: :fill, class: "review_icon"), artist_review_response_path(review.artist, review, response, user_profile: user_profile), method: :delete, remote: true) if response.user == current_user %>
            <%= link_to(cl_image_tag('static/share_icon.png', alt: "Share Icon", width: 20, height: 20, crop: :fill, class:"review_icon"), '') %>Share
        <% else %>
            <%= cl_image_tag('static/rockon_icon.png', alt: 'Rockon Icon', width: 20, height: 20, crop: :fill, class: "review_icon") %>
        <% end %>
        <abbr class="timeago" title="<%= response.created_at.getutc.iso8601 %>">
          <%= response.updated_at.to_s %>
        </abbr>
      </div>
    </div>
  </div>
</div>