<div class="response-content">
  <% if response.user.is_artist %>
      <%= cl_image_tag(response.user.picture, :width => 48, :height => 48, :crop => :fill, :alt => "Avatar", class: "float-left response-pic") if response.user.picture? %>
      <%= cl_image_tag("static/blank_user.png", :width => 48, :height => 48, :crop => :fill, :alt => "User Image", class: "float-left response-pic") unless response.user.picture? %> 
  <% else %>
      <%= cl_image_tag(response.user.picture, :width => 48, :height => 48, :crop => :fill, :alt => "Avatar", class: "rounded rounded-circle float-left response-pic") if response.user.picture? %>
      <%= cl_image_tag("static/blank_user.png", :width => 48, :height => 48, :crop => :fill, :alt => "User Image", class: "rounded rounded-circle float-left response-pic") unless response.user.picture? %> 
  <% end %>

  <div class="response-text-container">
    <h4 class="response-username">
        <%= link_to(response.user.name, user_path(review.leaving_user)) %>
    </h4>

    <div class="response-comment">
      <%= response.comment %>
    </div>

    <% if is_artist %>
      <%= render partial: 'responses/response_info_bar', locals: {review: review, user_id: review.receiving_user_id, response: response} %>
    <% else %>
      <%= render partial: 'responses/response_info_bar', locals: {review: review, user_id: review.leaving_user_id, response: response} %>
    <% end %>
  </div>
</div>