<div class="response-info-bar">
  <span class="upvotes">
    <% if user_signed_in? %>
      <% if response.upvotes_userlist.nil? || !current_user.id.to_s.in?(response.upvotes_userlist) %>
        <%= link_to "/users/#{user_id}/reviews/#{review.id}/responses/#{response.id}/upvote", method: :post, remote: true, class: "review_icon" do  %>
          <%= image_tag("rockon.png", style:"height:20px;width:20px;") %>
        <% end %>
      <% elsif !response.upvotes_userlist.nil? %>
        <%= link_to "/users/#{user_id}/reviews/#{review.id}/responses/#{response.id}/remove_upvote", method: :delete, remote: true, class: "review_icon rockon_icon_flipped" do %>
          <%= image_tag("rockon.png", style:"height:20px;width:20px;") %>
        <% end %>
      <% end %>
    <% else %>
      <%= image_tag("rockon.png", style:"height:20px;width:20px;") %>
    <% end%>

    <%= number_to_human response.upvotes %>
  </span>

  <span class="share">
    <% if user_signed_in? %>
      <%= link_to(cl_image_tag('static/share_icon_reply.png', alt: "Share", width: 9, height: 11, crop: :fill, class:"review_icon"), "/users/#{user_id}/share/reviews/#{response.review_id}/response", method: :post, remote: true) %>
      <%= link_to 'Share', "/users/#{user_id}/share/reviews/#{response.review_id}/response", method: :post, remote: true %>
    <% else %>
      <%= cl_image_tag('static/share_icon_reply.png', alt: "Share", width: 9, height: 11, crop: :fill) %>
      Share
    <% end %>
  </span>

  <% if user_signed_in? && current_user == response.user %>
    <span class="delete">
      <%= link_to(cl_image_tag('static/trashcan_icon.png', alt: "Trashcan", width: 15, height: 15, crop: :fill, class: "review_icon"), user_review_response_path(user_id, review, response), method: :delete, remote: true) %>
      <%= link_to 'Delete', user_review_response_path(user_id, review, response), method: :delete, remote: true %>
    </span>
  <% end %>

  <span class="report" id="report_response<%= response.id %>">
    <% if user_signed_in? %>
        <%= link_to cl_image_tag('static/flag_icon', alt: "Report", width: 9, height: 10, crop: :fill), '/report_response/'+response.id.to_s, method: :post, remote: true %>
        <%= link_to 'Report', '/report_response/'+response.id.to_s, method: :post, remote: true %>
    <% else %>
        <%= cl_image_tag('static/flag_icon', alt: "Report", width: 9, height: 10, crop: :fill) %>
        Report
    <% end %>
  </span>

  <span class="timestamp">
    <%= time_ago_in_words(response.updated_at.getutc.iso8601) %> ago
  </span>
</div>