<div class="review_content" id=<%= "review" + review.id.to_s %> data-review_id=<%=review.id.to_s%>>
  <% if review.leaving_user.is_artist %>
      <%= cl_image_tag(review.leaving_user.picture, :width => 48, :height => 48, :crop => :fill, :alt => "Avatar", class: "float-left review-pic") if review.leaving_user.picture? %>
      <%= cl_image_tag("static/blank_user.png", :width => 48, :height => 48, :crop => :fill, :alt => "User Image", class: "float-left review-pic") unless review.leaving_user.picture? %> 
  <% else %>
      <%= cl_image_tag(review.leaving_user.picture, :width => 48, :height => 48, :crop => :fill, :alt => "Avatar", class: "rounded rounded-circle float-left review-pic") if review.leaving_user.picture? %>
      <%= cl_image_tag("static/blank_user.png", :width => 48, :height => 48, :crop => :fill, :alt => "User Image", class: "rounded rounded-circle float-left review-pic") unless review.leaving_user.picture? %> 
  <% end %>
  <div class="review-text-container">
    <h4 class="review_username">
        <% if is_artist %>
          <%= link_to(review.leaving_user.name, user_path(review.leaving_user)) %>
        <% else %>
          <%= link_to(review.receiving_user.name, user_path(review.receiving_user)) %>
        <% end %>
    </h4>

    <div class="ratings_list" data-rating= <%= review.rating %>>
      <% for i in 0...review.rating %>
        <%= cl_image_tag("static/red_star", :width => 19, :height => 19, :crop => :fill, :alt => "Star") %>
      <% end %>
      <% for i in 0...5-review.rating %>
        <%= cl_image_tag("static/grey_star", :width => 19, :height => 19, :crop => :fill, :alt => "Star") %>
      <% end %>
    </div>

    <div class="review-comment">
      <%= review.comment %>
    </div>

    <% if is_artist && user_signed_in? %>
      <%= render partial: 'reviews/review_info_bar', locals: {review: review, user_id: review.receiving_user_id, responses_shown: responses_shown} %>
    <% else %>
      <%= render partial: 'reviews/review_info_bar', locals: {review: review, user_id: review.leaving_user_id, responses_shown: responses_shown} %>
    <% end %>
  </div>

  <div class="response-container">
    <% if responses_shown %>
      <%= render partial: 'responses/response', collection: review.responses.order('CREATED_AT ASC'), locals: {review: review, is_artist: is_artist} %>
    <% end %>
  </div>
</div>