<div class="review_content" id=<%= "review" + review.id.to_s %> data-review_id=<%=review.id.to_s%>>
  <div class="float-left review-pic <%= 'user-circle' unless review.leaving_user.is_artist %>" style="background: url('<%=review.leaving_user.picture.blank? ? 'https://res.cloudinary.com/mybandsource/image/upload/v1/static/blank_user' : review.leaving_user.picture %>');-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;background-position: center center;background-color:grey;height:36px;width:36px;">
  </div>
  <div class="review-text-container float-left">
    <h4 class="review_username float-left">
        <% if is_artist %>
          <%= link_to(review.leaving_user.name, user_path(review.leaving_user)) %>
        <% else %>
          <%= link_to(review.receiving_user.name, user_path(review.receiving_user)) %>
        <% end %>
    </h4>

    <div class="ratings_list float-left" data-rating= <%= review.rating %>>
      <% for i in 0...review.rating %>
        <%= cl_image_tag("static/red_star", :width => 12, :height => 12, :crop => :fill, :alt => "Star") %>
      <% end %>
      <% for i in 0...5-review.rating %>
        <%= cl_image_tag("static/grey_star", :width => 12, :height => 12, :crop => :fill, :alt => "Star") %>
      <% end %>
    </div>
    <div class="clearfix"></div>
    <div class="review-comment">
      <%= review.comment %>
    </div>

    <% if is_artist && user_signed_in? %>
      <%= render partial: 'reviews/review_info_bar', locals: {review: review, user_id: review.receiving_user_id, responses_shown: responses_shown} %>
    <% else %>
      <%= render partial: 'reviews/review_info_bar', locals: {review: review, user_id: review.leaving_user_id, responses_shown: responses_shown} %>
    <% end %>
  </div>
  <div class="clearfix"></div>
  <div class="response-container">
    <% if responses_shown %>
      <%= render partial: 'responses/response', collection: review.responses.order('CREATED_AT ASC'), locals: {review: review, is_artist: is_artist} %>
    <% end %>
  </div>
  <div class="clearfix"></div>
</div>