<div class="review-form-1" id="review-form-1">
  <% if current_user.is_artist %>
      <div class="" style="background: url(<%=current_user.picture%>);height:48px;width:48px;background-size: cover;background-position: center center;margin-left:21px;float:left;">
      </div>
      <%= cl_image_tag("static/blank_user.png", :width => 48, :height => 48 , :alt => "User Image", class: "review-form-picture") unless current_user.picture? %>
  <% else %>
      <div class="round-user" style="background: url(<%=current_user.picture.path unless current_user.path.blank?%>);height:48px;width:48px;background-size: cover;background-position: center center;margin-left:21px;float:left;">
      </div>
      <%= cl_image_tag("static/blank_user.png", :width => 48, :height => 48 , :alt => "User Image", class: "review-form-picture rounded-circle img-circle") unless current_user.picture? %>
  <% end %>

  <span class="leave-rating" id="leave_rating" style="position:relative;top:10px;">
    Leave a Review:&nbsp
    <span>&starf;</span>
    <span>&starf;</span>
    <span>&starf;</span>
    <span>&starf;</span>
    <span>&starf;</span>
    <input type="hidden" id="rating_field" value=<%= review.nil? ? -1 : review.rating %> />
  </span>

  <span class="button-container">
    <button onclick="submitReviewForm1()">Next</button>
  </span>
</div>