<header class="container-fluid">

	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="/">MyBandSource</a>
		<input type="text" name="search" class="form-control search-box" placeholder="search...">
		<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
			<div class="navbar-nav">
		        <% if current_user %>
		            <%= render partial: 'notifications/notification_dropdown' %>
		        <% end %>
				<% if current_user %>

		        <%= link_to "Hi " + (current_user.name.presence || "Lone Wanderer"), user_path(current_user), class: "nav-link nav-item" %>
		        <%= link_to "Edit Profile", '/users/edit', class: "nav-link nav-item" %>
		        <%= link_to "Logout", destroy_user_session_path, :method => :delete, class: "nav-link nav-item" %>

				<% else %>
					<%= link_to "Login", "#login_modal", "data-toggle": "modal", class: "nav-link nav-item", id: "login-btn" %>
					<%= link_to "Sign up", "#signup_modal", "data-toggle": "modal", class: "nav-link nav-item", id: "signup-btn" %>
				<% end %>
			</div>
		</div>
	</nav>

</header>