<header class="container-fluid">
  <div class="main-navbar mx-auto">
    <%= link_to(cl_image_tag("static/logo_v2_padded_tm", style: "max-width:185px;",  :crop => :fill, class: "navbar-logo"), '/', method: :get, class: "navbar-header") %>

    <% unless current_page?('/') %>
        <%= react_component "ArtistSearchContainerComponent", {searchPath: search_artists_path, submitPath: submit_search_path, navbar: true}, class: "mx-auto navbar-search-container" %>
        <ul class="nav navbar-nav">
    <% end %>

    <% if current_page?('/') %>
        <ul class="nav navbar-nav ml-auto">
    <% end %>

    <button type="button" class="close modal-close" aria-label="Close" onclick="hideSearch()">
      <span aria-hidden="true">&times;</span>
    </button>

    <div class="navbar-links">
      <% unless current_page?('/') %>
        <button class="search-icon-mobile" onclick="displaySearch()"><%= material_icon.search %></button>
      <% end %>
      <% if current_user %>
          <%= render partial: 'notifications/notification_dropdown' %>
          <%= render partial: 'layouts/user_dropdown' %>
        <% else %>
          <%= render partial: 'layouts/login_signup_dropdown' %>
          <%= link_to "Log In", "#login_modal", "data-toggle": "modal", class: "login-header", id: "login-btn" %>
          <%= link_to "Sign up", "#signup_modal", "data-toggle": "modal", class: "signup-header", id: "signup-btn" %>
        <% end %>
    </div>
    </ul>
  </div>
</header>
