<div class="btn-group user-dropdown">
  <button type="button" id="user_dropdown_button" data-toggle="dropdown">
    <div class="round-user" style="background: url(<%=current_user.picture%>);background-size: cover;background-position: center center;">
      <%= cl_image_tag("static/blank_user.png", :crop => :fill, :alt => "User Image", class: "rounded-circle img-circle", style:"max-width:35px;") unless current_user.picture? %> 
    </div>
    
  </button>
  <ul class="dropdown-menu dropdown-menu-right" role="menu">
    <li>
      <%= link_to "Profile", user_path(current_user) %>
    </li>
    <li>
      <%= link_to "Settings", '/users/edit' %>
    </li>
    <li>
      <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
    </li>
  </ul>
</div>
