<!DOCTYPE html>
<html lang="en">
	<head>
		<title>MyBandSource</title>

		<!-- Required meta tags -->
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
    <script>
      console.log("Running FB init script");
      $.ajaxSetup({ cache: true });
      $.getScript('//connect.facebook.net/en_US/sdk.js', function(){
        FB.init({
          appId: '444853392519445',
          version: 'v2.8'
        });
        FB.AppEvents.logPageView();
        console.log("Facebook initialized");
      });
    </script>

		<div class="container main-container">
		
			<%= render 'layouts/header' %>

			<div class="container-fluid">
				<% if resource.errors.any? %>
				    <div class="alert alert-danger">
				    	<%= devise_error_messages! %>
				    </div>
				<% end %>
			</div>

			<% if notice or alert %>
				<%= render 'layouts/alerts' %>
			<% end %>

			<%= render "shared/login_modal" %>
			<%= render "shared/signup_modal" %>
      <%= render "shared/about_modal" %>
      <%= render "shared/terms_modal" %>
      <%= render "shared/privacy_modal" %>
			
			<%= yield %>

			<%= render 'layouts/footer' %>

		</div>
	</body>
</html>
