<!DOCTYPE html>
<html lang="en">
	<head>
		<title>MyBandSource</title>

		<!-- Required meta tags -->
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta property="og:url"                content="dev.mybandsource.com" />
    <meta property="og:title"              content="MyBandSource" />
    <meta property="og:description"        content="Check this out" />
    <meta property="og:image"              content=<%= cl_image_tag("static/mbs_facebook_image") %>
  </head>

	<body>
		<div class="container main-container">
		
			<%= render 'layouts/header' %>

			<div class="container-fluid">
				<% if resource.errors.any? %>
				    <div class="alert alert-danger">
				    	<%= devise_error_messages! %>
				    </div>
				<% end %>
			</div>

			<% if notice or alert %>
				<%= render 'layouts/alerts' %>
			<% end %>

			<%= render "shared/login_modal" %>
			<%= render "shared/signup_modal" %>
      <%= render "shared/about_modal" %>
      <%= render "shared/terms_modal" %>
      <%= render "shared/privacy_modal" %>
      <%= render "shared/claim_artist_modal_1" %>
      <%= render "shared/claim_artist_modal_2" %>
			
			<%= yield %>

			<%= render 'layouts/footer' %>

		</div>
	</body>
</html>
